logging:
  level:
    root: INFO
server:
  port: 8080
  error:
    include-message: always
  servlet:
    context-path: /rest
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui: 
    path: /documentation.html
spring:
  datasource:
    url: ${POSTGRES_DB:jdbc:postgresql://127.0.0.1:5432/postgres}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driverClassName: org.postgresql.Driver
    hikari:
      data-source-properties:
        stringtype: unspecified
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mvc:
    format:
      date: yyyy-MM-dd
management:
  endpoints:
    web:
      exposure:
        include: 
          - loggers
          - health
          - metrics
  endpoint:
    loggers:
      access: read_only
    health:
      access: read_only
    metrics:
      access: read_only
config:
  personalEntries:
    start: 1
    end: 7
  personalStarts:
    start: 1
    end: 5
  personalResults:
    start: 5
    end: 1
  jwt:
    secret: ${JWT_SECRET:MY_SUPER_SECRET_KEY_WITH_MINIMUM_32_CHARACTERS}