name: Auto-merge Release & Dependabot PRs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - labeled

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    # Run for release snapshot PRs or Dependabot PRs
    if: "contains(github.event.pull_request.labels.*.name, 'autorelease: snapshot') || github.event.pull_request.user.login == 'dependabot[bot]'"
    steps:
        run: gh pr merge --auto --squash "$PR_NUMBER"
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
