name: Build with Maven

on:
  push:
    branches-ignore:
    - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 23
      uses: actions/setup-java@v4
      with:
        java-version: '23'
        distribution: 'liberica'
        cache: maven
    - name: Build with Maven
      run: mvn -B compile --file pom.xml